a {
    color: darkslateblue;
    text-decoration: none;
    background-color: azure;
}

.index>a:visited, .index>a:hover, .index>a:active, .index>a:link {
    font-size: 20pt;
    color: darkcyan;
    font-weight: 740;
}

.index li{
    font-size: 20pt;
    color: darkcyan;
    font-weight: 740;
}
.index li *{
    color: darkcyan;
    font-size: 16pt;
    font-weight: 500;
    margin-bottom: 5pt;
}
li {
    margin-left: 30px;
}
#title {
    color: rgb(0, 54, 43);
    font-size: 28pt;
    border-bottom: 3px solid;
    border-bottom: linear-gradient(to right, red, blue);
    padding-bottom: 0.2em;
}
h2, subtitle {
    color: rgb(13, 84, 102);
    font-size: 22pt;
    text-shadow:rgb(13, 84, 102);
    border-bottom: 3px solid lightgray;
    padding-bottom: 0.2em;
}

h3 {
    font-size: 19pt;
    color: cadetblue;
    padding-bottom: 0.1pt;
}

h4 {
    font-size: 15pt;
    color: rgb(39, 39, 39);
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
